<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1">
<title>Kirjanpito</title>
<link href="tyyli.css" rel="stylesheet" type="text/css"> </link>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> </meta>
</head>
<body>
<h1>Laitteet</h1>
<div class="col-md-4">
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
<table border="2">
		<tr>
		    <th>Type</th>
		    <th>Model</th>
		    <th>Defect</th>
		    <th>Date</th>
		    <th>State</th>
		    <th>Costs</th>
		</tr>  
    	<tr th:each = "device : ${devices}">
    		<td th:text="${device.type}"></td>
    		<td th:text="${device.model}"></td>
    		<td th:text="${device.defect}"></td> 
    		<td th:text="${device.date}"></td>
    		<td th:text="${device.state}"></td>
    		<td th:text="${device.price}"></td>
 			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/edit/{id}(id=${device.id})}">Edit</a></td>
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${device.id})}">Delete</a></td>		
    	</tr>
     </table>
     <a class="btn btn-danger" href="/add">Add Device</a>
     <div style="clear: both; display: block; height: 10px;"></div>
     <a class="btn btn-danger" href="/api/devices">Rest get all devices</a>
</body>
</html>